#root {
  margin: 0 auto;

  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  margin-top: 10px;
}

.link {
  padding: 5px;
}

.info {
  padding: 20px;
  background-color: black;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 3px solid #0bcad4;
}

.success {
  padding: 20px;
  background-color: black;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 3px solid green;
}

.error {
  padding: 20px;
  background-color: black;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 3px solid red;
}

.top-info {
  background-color: black;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  border-bottom: 2px solid blue;
}

.login-info {
  display: inline-flex;
  text-align: center;
  /* padding-left: 8rem; */
}

.close-btn {
  background-color: transparent;
}
